<h2>Sign in</h2>
<br />
<%= form_for @user, {url:"/authentications", method:"post"} do |u| %>

	<%=u.text_field :email, :placeholder => 'Email', :class => "sign_up_text" %><br />
	
	<%=u.password_field :password, :placeholder => 'Password', :class => "sign_up_text" %>

	<br />
	
	<%= u.submit "Log In", :class => 'btn-3d green' %>


<% end %>

<hr />
User id: <%= session[:user_id] %>
