<h2>Sign in</h2>
<br />
<%= form_for @user, {url:"/authentications", method:"post"} do |u| %>
	<%= u.label :email, "Email" %><%=u.text_field :email %><br />
	
	<%= u.label :password, "Password" %><%=u.password_field :password %><br />
	<%= u.submit "Log In", :class => 'sign_up_submit_btn' %>
<% end %>

<hr />
User id: <%= session[:user_id] %>
