<%= form_for @user do |u| %>


<p>
	<%= u.text_field :first_name, :placeholder => 'First Name' %>
</p>

<p>
	<%= u.text_field :last_name, :placeholder => 'Last Name' %>
</p>


<p>
	
	<%= u.text_field :email, :placeholder => 'Your Email' %>
</p>

<p>
	
	<%= u.text_field :password, :placeholder => 'New Password' %>
</p>

<p>
	
	<%= u.text_field :password_confirmation, :placeholder => 'Re-enter Password' %>
</p>

<%= u.submit %>

<% end %>
