<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

          <a class="brand" href="index.html"></a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/" class="brand">
                  <img alt="Civly" src="http://cloud-media.com/wp-content/uploads/2013/10/fundrr-beta5-logo-navbar.png">
                </a></li>
              <li><%= link_to 'Angels', page_path('angels') %></li>
              <li><%= link_to 'Founders', page_path('founders') %></li>
              <li><%= link_to 'Startups', page_path('startups') %></li>
              <li><%= link_to 'Developers', page_path('developers') %></li>
              <li><%= link_to 'About', page_path('about') %></li>
            </ul>
            


          </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
      </div><!-- /navbar-inner -->
    </div><!-- /navbar -->







